@media(min-width:1024px){}
//TABLET//
@media(min-width:481px) and (max-width:1023px){
//INDEX//
    body h1
    {
    font-size: 50px;
    }
    body ul{
        margin: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
    }

body .off{
    display: flex;
    font-size: 50px; 
    margin: 2px 100px 1%;
    padding: 1px;
    flex-wrap: wrap;
}   
body.promos{
    font-size: 25px;
    margin: 8px 8%;
    padding: 8px 8%;
    display: flex;
    flex-wrap: wrap;
}
//PRODUCTOS//
.menuproductos{
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}
.clasebuzos{
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
    .galeriaProductos{
        height: 170px;
    }
    .precio1{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px ; 
    }
}
.clasespants{
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
    .galeriaProductos{
        height: 170px; 
    }
}
.clasegorros{
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
    .galeriaProductos{
        height: 170px; 
    }
}
}
//SMARTPHONE//
@media(max-width:480px){
    body h1{
        font-size: 50px;
    }
    body ul{
        padding:50px;
        display: flex;
        flex-wrap: wrap;
        margin: 9vh;
        font-size: 150%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
        
    body.off{
        display: flex;
        font-size: 30px;
        flex-wrap: wrap;
        margin: 1vh 3vh;
        padding: 1vh;
    }
    body.promos{
        display: flex;
        margin: 8px 5%;
        padding: 3px;
        flex-wrap: wrap;
    }
    body .galeria {
        justify-content: center;
        max-width: 80vw;
        flex-wrap: wrap;
    }
//PRODUCTOS SMARTPHONE//
    ul{
        justify-content: center;
    }
    .clasebuzos {
        padding: 7vh;
        margin: 1px 18px;
        background-image: url("../images/hoodiefacedjpeg.jpg");
        background-position: left;
        .precio1{
            display: grid;
            grid-template-columns: 20px 20px 20px 20px 20px ;
        }
    }
    .clasepants {
        padding: 7vh;
        background-color: white;
        margin: 1px 18px;
    }
    .clasegorros {
        padding: 7vh;
        margin: 1px 18px;
        background-repeat: repeat;
        background-position: left;
    }
    
}