@media(min-width:1024px){}
//TABLET//
@media(min-width:481px) and (max-width:1023px){
//INDEX//
    body h1
    {
    font-size: 50px;
    }
    body ul{
        flex-direction: column;
        margin: 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        align-content: center;
    }   

body .off{
    display: flex;
    font-size: 50px; 
    margin: 2px 100px 1%;
    padding: 1px;
    flex-wrap: wrap;
}   
body.promos{
    font-size: 25px;
    margin: 8px 8%;
    padding: 8px 8%;
    display: flex;
    flex-wrap: wrap;
}
//PRODUCTOS//
.menuproductos{
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.clasebuzos{
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
}
.clasespants{
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
}
.clasegorros{
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
}
//DONDE ESTAMOS//
iframe{
    width: 100% !important;
}
}

//SMARTPHONE//
@media(max-width:480px){
    body h1{
        font-size: 50px;
    }
    body ul{
        padding:29px;
        display: flex;
        flex-wrap: wrap;
        font-size: 150%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
        
    body.off{
        display: flex;
        font-size: 30px;
        flex-wrap: wrap;
        margin: 1vh 3vh;
        padding: 1vh;
    }
    body.promos{
        display: flex;
        padding: 3px;
        flex-wrap: wrap;
    }
    body .galeria {
        justify-content: center;
        flex-wrap: wrap;
    }
//PRODUCTOS SMARTPHONE//
    ul{
        justify-content: center;
    }
    .clasebuzos {
        padding: 7vh;
        margin: 1px 18px;
        background-position: left;
    }
    .clasepants {
        padding: 7vh;
        background-color: white;
        margin: 1px 18px;
    }
    .clasegorros {
        padding: 7vh;
        margin: 1px 18px;
        background-repeat: repeat;
        background-position: left;
    }
    body main .galeria .galeria-link .mood, body main .galeria .galeria-link .buzonegro, body main .galeria .galeria-link .nirvana, body main .galeria .galeria-link .faced, body main .galeria .galeria-link .lol, body main .galeria .galeria-link .angels, body main .galeria .galeria-link .gorritoblack, body main .galeria .galeria-link .cargo, body main .galeria .galeria-link .hoodie
    {
        height: 20vh;
    }
    //DONDE ESTAMOS SMARTPHONE//
    body h1{
        text-align: center;
    }
    body.ubicacion{
        align-items: center;
    }
    iframe{
        width: 100% !important; 
    }
}