@import url("https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@100;200&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

.h2-off {
  color: rgb(248, 244, 244);
}

.h2-promos {
  color: rgb(255, 255, 255);
}

body {
  background-color: black;
  font-family: "anton", sans-serif;
  display: grid;
  grid-template-rows: auto;
}
body h1 {
  color: rgb(253, 237, 251);
  text-shadow: 1px 1px 10px rgba(232, 196, 240, 0.534);
  font-size: 70px;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  justify-content: center;
}
body ul {
  list-style: none;
  margin: 110px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-flow: nowrap;
}
body ul .sinsubrayar {
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0 30px;
}
body ul .sinsubrayar:hover {
  cursor: pointer;
  color: pink;
}
body .off {
  display: flex;
  color: white;
  text-align: center;
  font-size: 70px;
  background-color: rgb(194, 186, 186);
  margin: 30px 10%;
  padding: 10px;
  justify-content: center;
  transition: width 12s;
  box-shadow: 1px 1px 10px rgba(244, 244, 244, 0.5764705882);
  color: #fafafa;
  text-shadow: -3px 3px #b69999, -3px -3px #8a737e, 3px -3px #a09999, 3px 3px #d1c0cb, 6px 6px rgb(190, 176, 176);
}
body .off:hover {
  width: 80%;
  height: 40%;
  box-shadow: 1px 1px 10px #f4f4f4;
}
body .promos {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgb(190, 176, 176);
  margin: 18px 30%;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  transition: width 1.1s 0.1s ease-in-out;
  box-shadow: 1px 1px 10px rgba(244, 244, 244, 0.6117647059);
  color: #fafafa;
  text-shadow: -3px 3px #b69999, -3px -3px #8a737e, 3px -3px #a09999, 3px 3px #d1c0cb, 6px 6px rgb(190, 176, 176);
}
body .promos:hover {
  width: 42%;
  height: 50% 50% 50% 50%;
  box-shadow: 1px 1px 10px #f4f4f4;
}
body .galeria {
  background-color: black;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  flex-wrap: wrap;
}
body .galeria .galeria-link {
  display: inline-block;
  height: 180px;
  width: 180px;
  margin: 15px;
  background-size: 180px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  flex: 0 0 25%;
  transition: all 0.2s;
}
body .galeria .galeria-link:hover {
  background-size: 200px auto;
  box-shadow: 1px 1px 10px rgba(244, 244, 244, 0.5803921569);
}
body .galeria .galeria-link .mood, body .galeria .galeria-link .buzonegro, body .galeria .galeria-link .nirvana, body .galeria .galeria-link .faced, body .galeria .galeria-link .lol, body .galeria .galeria-link .angels, body .galeria .galeria-link .gorritoblack, body .galeria .galeria-link .cargo, body .galeria .galeria-link .hoodie {
  background-image: url("../images/buzomoodjpeg.jpg");
  height: 200px;
  box-shadow: 1px 1px 10px #f4f4f4;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .galeria .galeria-link .hoodie {
  background-image: url("../images/hoodiedarkpng.png");
}
body .galeria .galeria-link .cargo {
  background-image: url("../images/cargoblack.jpg");
}
body .galeria .galeria-link .gorritoblack {
  background-image: url("../images/gorritoblack.jpg");
}
body .galeria .galeria-link .angels {
  background-image: url("../images/angelsjpeg.jpg");
}
body .galeria .galeria-link .lol {
  background-image: url("../images/buzolol.jpg");
}
body .galeria .galeria-link .faced {
  background-image: url("../images/hoodiefacedjpeg.jpg");
}
body .galeria .galeria-link .nirvana {
  background-image: url("../images/buzonirvana.jpg");
}
body .galeria .galeria-link .buzonegro {
  background-image: url("../images/buzonegro.jpg");
}

body {
  background-color: black;
  display: grid;
  grid-template-rows: auto;
}
body .headerProductos {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  max-width: 100vw;
}
body .headerProductos .tituloproductos {
  color: white;
}
body main .clasebuzos {
  background: whitesmoke;
  text-align: center;
  padding: 5vh;
  margin: 30px;
  display: grid;
  grid-template-rows: auto;
  background-image: url("../images/hoodiefacedjpeg.jpg");
  background-position: unset;
  background-repeat: inherit;
}
body main .galeriaProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 180px;
}
body main .precio1 {
  display: grid;
  grid-template-columns: 200px 231px 200px 200px 200px;
  background-color: white;
  color: black;
  margin: 8%;
  padding: 10px;
  justify-content: space-around;
  list-style: none;
}
body main .clasepants {
  background-color: whitesmoke;
  text-align: center;
  padding: 5vh;
  margin: 30px;
}
body main .clasepants .precio2 {
  background-color: white;
  color: black;
  margin: 6%;
  padding: 10px;
  text-align: center;
}
body main .clasegorros {
  background-color: whitesmoke;
  text-align: center;
  padding: 5vh;
  margin: 30px;
  background-image: url("../images/gorrito3.jpg");
}
body main .clasegorros .precio3 {
  background-color: white;
  color: black;
  margin: 6%;
  padding: 10px;
  text-align: center;
}

body {
  background-color: black;
}
body .titulotalles {
  color: white;
}
body .titulomedidas {
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px;
  margin: 20%;
}
body .h2tabla {
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px;
  margin: 20%;
}

body {
  background-color: black;
  text-align: center;
}
body .tituloContacto {
  font-size: 8vh;
}
body .none2 {
  color: rgb(228, 159, 171);
  text-decoration: none;
}
body .none2:hover {
  color: #d1c0cb;
  cursor: pointer;
}
body .none3 {
  color: rgb(228, 159, 171);
  text-decoration: none;
}
body .none3:hover {
  color: #d1c0cb;
  cursor: pointer;
}
body .contactocabeza {
  background-color: aliceblue;
  display: flex;
  flex-flow: column;
  margin: 15%;
  padding: 0px;
  align-items: center;
}
body .mb-3 {
  display: flex;
  margin: 20%;
}
body .mb-3 .form-control {
  border-radius: 19.25rem;
}
body .mb-3-1 {
  display: flex;
  margin: 20%;
  height: 10%;
}
body .mb-3-1 .form-control {
  border-radius: 19.25rem;
}

body {
  background-color: black;
}
body .tituloubi {
  color: aliceblue;
}
body .ubicacion {
  background-color: white;
  color: black;
  text-align: center;
  margin: 5%;
  padding: 1%;
  box-shadow: 1px 1px 10px rgba(244, 244, 244, 0.5764705882);
  text-shadow: -3px 3px #b69999, -3px -3px #8a737e, 3px -3px #a09999, 3px 3px #d1c0cb, 6px 6px rgb(190, 176, 176);
  font-size: 4vh;
}
body .ubicacion:hover {
  box-shadow: 2px 2px 10px #f4f4f4;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 1023px) {
  body h1 {
    font-size: 50px;
  }
  body ul {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  body .off {
    display: flex;
    font-size: 50px;
    margin: 2px 100px 1%;
    padding: 1px;
    flex-wrap: wrap;
  }
  body.promos {
    font-size: 25px;
    margin: 8px 8%;
    padding: 8px 8%;
    display: flex;
    flex-wrap: wrap;
  }
  .menuproductos {
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .clasebuzos {
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
  }
  .clasebuzos .galeriaProductos {
    height: 170px;
  }
  .clasebuzos .precio1 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
  }
  .clasespants {
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
  }
  .clasespants .galeriaProductos {
    height: 170px;
  }
  .clasegorros {
    padding: 1vh;
    margin: 4px 200px 2%;
    display: grid;
    grid-template-rows: auto;
  }
  .clasegorros .galeriaProductos {
    height: 170px;
  }
}
@media (max-width: 480px) {
  body h1 {
    font-size: 50px;
  }
  body ul {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 9vh;
    font-size: 150%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  body.off {
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
    margin: 1vh 3vh;
    padding: 1vh;
  }
  body.promos {
    display: flex;
    margin: 8px 5%;
    padding: 3px;
    flex-wrap: wrap;
  }
  body .galeria {
    justify-content: center;
    max-width: 80vw;
    flex-wrap: wrap;
  }
  ul {
    justify-content: center;
  }
  .clasebuzos {
    padding: 7vh;
    margin: 1px 18px;
    background-image: url("../images/hoodiefacedjpeg.jpg");
    background-position: left;
  }
  .clasebuzos .precio1 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
  }
  .clasepants {
    padding: 7vh;
    background-color: white;
    margin: 1px 18px;
  }
  .clasegorros {
    padding: 7vh;
    margin: 1px 18px;
    background-repeat: repeat;
    background-position: left;
  }
}

/*# sourceMappingURL=destino.css.map */
